USE [master]
GO
/****** Object:  Database [BelgiumCampus_Students]    Script Date: 2021/11/04 23:04:54 ******/
CREATE DATABASE [BelgiumCampus_Students]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BelgiumCampus_Students', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BelgiumCampus_Students.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BelgiumCampus_Students_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BelgiumCampus_Students_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BelgiumCampus_Students].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BelgiumCampus_Students]
GO
/****** Object:  Table [dbo].[tblStudents]    Script Date: 2021/11/04 23:04:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudents](
	[StudentNumber] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](100) NULL,
	[LastName] [nchar](100) NULL,
	[Gender] [nchar](10) NULL,
	[Phone] [nchar](10) NULL,
	[Address] [ntext] NULL,
	[ModulesCodes] [nchar](10) NULL,
	[Image] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
